In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
%matplotlib notebook

In [3]:
def lprint():
    print('='*70)

In [4]:
lprint()

======================================================================

In [5]:
# 한글 font 설정
import platform
import matplotlib.font_manager as fm

if platform.system() == 'Darwin':
    plt.rc('font',family='AppleGothic')

plt.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용시 마이너스 폰트 깨짐 해결

In [6]:
# 글씨 선명하게 출력하는 설정

from IPython.display import set_matplotlib_formats

set_matplotlib_formats("retina")

In [7]:
df_all = pd.read_csv("/Users/cheon-yujeong/빅데이터분석_수업/df_all.csv")
df_all.head(2)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080,6149.0,NaN,1,NaN,127.047883,37.505675
1,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1154510200101620001017748,NaN,서울특별시 금천구 가산로 34-6,153010,8545.0,NaN,1,NaN,126.899220,37.471711

In [8]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714111 entries, 0 to 714110
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     714111 non-null  int64
 1   상호명        714110 non-null  object
 2   지점명        115739 non-null  object
 3   상권업종대분류코드  714111 non-null  object
 4   상권업종대분류명   714111 non-null  object
 5   상권업종중분류코드  714111 non-null  object
 6   상권업종중분류명   714111 non-null  object
 7   상권업종소분류코드  714111 non-null  object
 8   상권업종소분류명   714111 non-null  object
 9   표준산업분류코드   670690 non-null  object
 10  표준산업분류명    670690 non-null  object
 11  시도코드       714111 non-null  int64
 12  시도명        714111 non-null  object
 13  시군구코드      714111 non-null  int64
 14  시군구명       714111 non-null  object
 15  행정동코드      714111 non-null  int64
 16  행정동명       713900 non-null  object
 17  법정동코드      714111 non-null  int64
 18  법정동명       714111 non-null  object
 19  지번코드       714111 non-null  int64
 20  대지구분코드     714111 non-null  int64
 21  대지구분명      714111 non-null  object
 22  지번본번지      714111 non-null  int64
 23  지번부번지      575180 non-null  float64
 24  지번주소       714111 non-null  object
 25  도로명코드      714111 non-null  int64
 26  도로명        714111 non-null  object
 27  건물본번지      714111 non-null  int64
 28  건물부번지      86625 non-null   float64
 29  건물관리번호     714111 non-null  object
 30  건물명        343404 non-null  object
 31  도로명주소      714111 non-null  object
 32  구우편번호      714111 non-null  int64
 33  신우편번호      714107 non-null  float64
 34  동정보        56680 non-null   object
 35  층정보        458339 non-null  object
 36  호정보        114479 non-null  object
 37  경도         714111 non-null  float64
 38  위도         714111 non-null  float64
dtypes: float64(5), int64(11), object(23)
memory usage: 212.5+ MB

In [9]:
columns = ['상호명','상권업종대분류명','상권업종중분류명','상권업종소분류명',
          '시도명', '시군구명','행정동명','법정동명','도로명주소','경도','위도']

df_col = df_all[columns].copy()
df_col.shape

(714111, 11)

In [10]:
df_loc = df_all.loc[:,['상호명','상권업종대분류명','상권업종중분류명','상권업종소분류명',
          '시도명', '시군구명','행정동명','법정동명','도로명주소','경도','위도']]
df_loc.shape

(714111, 11)

In [11]:
df_loc['상호명'].unique()

array(['커피빈코리아선릉로93길점', '프로포즈', '와라와라호프', ..., '본현대미아점', '앤클라인뉴욕핸드백',
       '피움테라피'], dtype=object)

In [12]:
df_loc['상권업종중분류명'].value_counts()

한식          84636
이/미용/건강     61301
종합소매점       48496
커피점/카페      42512
의복의류        39249
            ...
부동산관련서비스        5
부동산임대           3
기타교육기관          3
전시/관람           2
특수교육기관          1
Name: 상권업종중분류명, Length: 93, dtype: int64

In [13]:
df_coffee = df_loc[(df_loc['상권업종중분류명']=='커피점/카페')]
df_coffee.index = range(len(df_coffee))
print("서울시 내 커피 전문점 점포 수: ",len(df_coffee))
df_coffee.head()

서울시 내 커피 전문점 점포 수:  42512

,상호명,상권업종대분류명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,법정동명,도로명주소,경도,위도
0,커피빈코리아선릉로93길점,음식,커피점/카페,커피전문점/카페/다방,서울특별시,강남구,역삼1동,역삼동,서울특별시 강남구 선릉로93길 6,127.047883,37.505675
1,고려대학교교육관쎄리오점,음식,커피점/카페,커피전문점/카페/다방,서울특별시,성북구,안암동,안암동5가,서울특별시 성북구 안암로 145,127.031702,37.588485
2,스완카페트,음식,커피점/카페,커피전문점/카페/다방,서울특별시,영등포구,대림3동,대림동,서울특별시 영등포구 도신로10가길 11-1,126.897710,37.503693
3,왕실,음식,커피점/카페,커피전문점/카페/다방,서울특별시,중구,명동,명동2가,서울특별시 중구 남대문로 52-13,126.982419,37.562274
4,커피빈,음식,커피점/카페,커피전문점/카페/다방,서울특별시,서초구,서초1동,서초동,서울특별시 서초구 서초중앙로 118,127.014217,37.492388

In [14]:
df_cafe = df_coffee[df_coffee['상호명'].str.contains('스타벅스|starbucks|STARBUCKS|이디아|이디야|ediya|EDIYA', na = False)].copy()
df_cafe.shape

(2066, 11)

In [15]:
df_cafe.head(10)

,상호명,상권업종대분류명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,법정동명,도로명주소,경도,위도
22,스타벅스,음식,커피점/카페,커피전문점/카페/다방,서울특별시,용산구,이태원1동,이태원동,서울특별시 용산구 이태원로 188,126.994781,37.534303
33,이디야커피,음식,커피점/카페,커피전문점/카페/다방,서울특별시,영등포구,신길1동,신길동,서울특별시 영등포구 영등포로 353,126.918062,37.515118
55,스타벅스종로3가점,음식,커피점/카페,커피전문점/카페/다방,서울특별시,종로구,종로1.2.3.4가동,종로3가,서울특별시 종로구 종로 113-1,126.990207,37.570585
93,스타벅스,음식,커피점/카페,커피전문점/카페/다방,서울특별시,서초구,잠원동,잠원동,서울특별시 서초구 강남대로 581,127.019763,37.513663
100,이디야커피,음식,커피점/카페,커피전문점/카페/다방,서울특별시,구로구,구로3동,구로동,서울특별시 구로구 디지털로32길 43,126.897870,37.484385
123,이디야커피,음식,커피점/카페,커피전문점/카페/다방,서울특별시,노원구,중계1동,중계동,서울특별시 노원구 노원로22길 34,127.072754,37.646364
259,이디야커피,음식,커피점/카페,커피전문점/카페/다방,서울특별시,성동구,금호2.3가동,금호동3가,서울특별시 성동구 장터길 17-1,127.017791,37.548427
278,이디아,음식,커피점/카페,커피전문점/카페/다방,서울특별시,마포구,상암동,상암동,서울특별시 마포구 월드컵북로 375,126.890828,37.577397
288,스타벅스커피여의도IFC1F,음식,커피점/카페,커피전문점/카페/다방,서울특별시,영등포구,여의동,여의도동,서울특별시 영등포구 국제금융로 10,126.924863,37.525172
290,스타벅스,음식,커피점/카페,커피전문점/카페/다방,서울특별시,강남구,삼성1동,삼성동,서울특별시 강남구 테헤란로103길 9,127.063878,37.510038

In [16]:
df_cafe.index = range(len(df_cafe))

In [17]:
df_cafe.loc[df_cafe['상호명'].str.contains('스타벅스|starbucks|STARBUCKS'),'브랜드명'] = '스타벅스'
df_cafe.loc[~df_cafe['상호명'].str.contains('스타벅스|starbucks|STARBUCKS'),'브랜드명'] = '이디야'

In [18]:
df_cafe.head(10)

,상호명,상권업종대분류명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,법정동명,도로명주소,경도,위도,브랜드명
0,스타벅스,음식,커피점/카페,커피전문점/카페/다방,서울특별시,용산구,이태원1동,이태원동,서울특별시 용산구 이태원로 188,126.994781,37.534303,스타벅스
1,이디야커피,음식,커피점/카페,커피전문점/카페/다방,서울특별시,영등포구,신길1동,신길동,서울특별시 영등포구 영등포로 353,126.918062,37.515118,이디야
2,스타벅스종로3가점,음식,커피점/카페,커피전문점/카페/다방,서울특별시,종로구,종로1.2.3.4가동,종로3가,서울특별시 종로구 종로 113-1,126.990207,37.570585,스타벅스
3,스타벅스,음식,커피점/카페,커피전문점/카페/다방,서울특별시,서초구,잠원동,잠원동,서울특별시 서초구 강남대로 581,127.019763,37.513663,스타벅스
4,이디야커피,음식,커피점/카페,커피전문점/카페/다방,서울특별시,구로구,구로3동,구로동,서울특별시 구로구 디지털로32길 43,126.897870,37.484385,이디야
5,이디야커피,음식,커피점/카페,커피전문점/카페/다방,서울특별시,노원구,중계1동,중계동,서울특별시 노원구 노원로22길 34,127.072754,37.646364,이디야
6,이디야커피,음식,커피점/카페,커피전문점/카페/다방,서울특별시,성동구,금호2.3가동,금호동3가,서울특별시 성동구 장터길 17-1,127.017791,37.548427,이디야
7,이디아,음식,커피점/카페,커피전문점/카페/다방,서울특별시,마포구,상암동,상암동,서울특별시 마포구 월드컵북로 375,126.890828,37.577397,이디야
8,스타벅스커피여의도IFC1F,음식,커피점/카페,커피전문점/카페/다방,서울특별시,영등포구,여의동,여의도동,서울특별시 영등포구 국제금융로 10,126.924863,37.525172,스타벅스
9,스타벅스,음식,커피점/카페,커피전문점/카페/다방,서울특별시,강남구,삼성1동,삼성동,서울특별시 강남구 테헤란로103길 9,127.063878,37.510038,스타벅스

In [19]:
df_cafe.to_csv('df_cafe.csv',index=False)